#map {      
	margin-top: 50px;
	width: 800px;
	height: 500px;
}

.video {
	position: absolute;
	left: 850px;
	top: 250px;
	width: 400px;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	display: none;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

body{ 
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: black;
	font-weight: 700;
}

.bg-dark{
	background-color:  #1c313a;
	color: white;
}

.bg-light{
	background-color: #455a64;
}

.bg-primary{
	background-color: #718792;
}


.land {
	fill: #999;
	stroke-opacity: 1;
  }
  
  .graticule {
	fill: none;
	stroke: black;
	stroke-width:.5;
	opacity:.2;
  }
  
  .labels {
	  font: 8px sans-serif;
	  fill: black;
	  opacity: .5;
  
	  display:none;
  }
  
  .noclicks { pointer-events:none; }
  
  .point {  opacity:.6; }
  
  .arcs {
	opacity:.1;
	stroke: gray;
	stroke-width: 3;
  }
  .flyers {
	stroke-width:1;
	opacity: .6;
	stroke: darkred; 
  }
  .arc, .flyer {
	stroke-linejoin: round;
	fill:none;
  }
	.arc { }
	.flyer { }
	.flyer:hover { }